body {
    background: url(../../img/43.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;

    width: 40%;
    height: 300px;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    background: #0000060;
    padding: 20px 50px;

}